* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

body {
  background-color: #f2f6f2;
  color: #fff;
}
.main {
  padding: 2rem;
  color: black;
}

.header {
   background-color: #309e3f;
  margin-bottom: 2rem;
  padding: 1rem 0;

  &__title {
    text-align: center;
    line-height: 4rem;
    padding-inline: 2rem;
  }
  &__text {
    text-align: center;
    margin-bottom: 1rem;
  }
}


.filters {
  margin-bottom: 2rem;


  &__label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 600;
  }

  &__input {
    width: 100%;
    max-width: 260px;
    padding: 0.5rem 0.7rem;
    border: 1px solid #aaa;
    border-radius: 6px;
  }
}

.country-list {
  padding: 0;
  margin: 0;

  &__item {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.8rem 0;
    border-bottom: 1px solid #ccc;
  }

  &__flag {
    font-size: 2rem;
  }

  &__name {
    font-weight: 600;
  }

  &__capital {
    font-weight: 300;
  }
}